:root.theme-light {
   --page-bg-image: url("../images/cover-image-light.png");
   --page-bg-color: #fff1f7;
   --menu-btn-color: #353430;
   --menu-btn-color-hover: rgba(50, 49, 45, 0.4);
   --corners-color: #353430;
   --accent-color: #ff8dcb;
   --card-text-color: #353430;
   --title-decor-color: #353430;
   --section-title-color: #353430;
   --large-color: #ffc2e6;
}

@media (prefers-color-scheme: light) {
  :root {
   --page-bg-image: url("../images/cover-image-light.png");
   --page-bg-color: #fff1f7;
   --menu-btn-color: #353430;
   --menu-btn-color-hover: rgba(50, 49, 45, 0.4);
   --corners-color: #353430;
   --accent-color: #ff8dcb;
   --card-text-color: #353430;
   --title-decor-color: #353430;
   --section-title-color: #353430;
   --large-color: #ffc2e6;
  }

  .theme-auto .header__rec {
  display: none;
  }
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__rec::after {
  display: none;
}



