:root {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;
  --font-family: "IBM Plex Mono", "Arial", sans-serif;
  --main-font-size: 18px;
  --large-font-size: clamp(6.45rem, 6.3069rem + 0.6107vw, 6.6rem); 
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --menu-btn-color: #ff0070;
  --menu-btn-color-hover: rgba(255, 0, 112, 0.40);
  --corners-color: #ff0070;
  --accent-color: #ff0070;
  --title-decor-color: #000028;
  --h1-color: #db00ff;
  --card-text-color: #f1b2ce;
  --section-title-color: #ff0070;
}
